<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var options = {
                  }
    var instances = M.Sidenav.init(elems, options);
  });
</script>


<div class="navbar-fixed">
  <nav class="green lighten-3">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo" style="padding-left: 15px;">Logo</a>
      <a href="#" data-target="mobile-demo" class="right sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'micro:discover' %}">Discover</a></li>
          <li><a href="/{{request.user.username}}">{{request.user.username|title}}</a></li>
          <li><a href="{% url 'micro:logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'micro:login' %}">Login</a></li>
          <li><a href="{% url 'micro:register' %}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>

<ul class="green lighten-5 sidenav" id="mobile-demo">
  {% if request.user.is_authenticated %}
    <li><a href="{% url 'micro:discover' %}">Discover</a></li>
    <li><a href="{{request.user.username}}">{{request.user.username|title}}</a></li>
    <li><a href="{% url 'micro:logout' %}">Logout</a></li>
  {% else %}
    <li><a href="{% url 'micro:login' %}">Login</a></li>
    <li><a href="{% url 'micro:register' %}">Register</a></li>
  {% endif %}
</ul>
