<head>
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="{% static 'micro/css/styles.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body class="green lighten-5">

  {% include 'micro/includes/nav.html' %}
  <br>
  {% include 'micro/includes/messages.html' %}

  <div class="container">
    <br>
    {% block content %}
    {% endblock %}
  </div>

</body>

