{% extends 'micro/header.html' %}

{% block content %}
  <div class="row">
    <div class="col l4 m8 offset-m2 s12 center-align">
      <h3>{{user.display_name}}</h3><br>

      {% if user.userprofile.profile_image %}
        <img src="{{user.userprofile.profile_image.url}}" class="profileImg"><br>
      {% elif user.username == request.user.username  %}
        {% include 'micro/includes/image_form.html' %} 
      {% else %}
        <img src="https://micro-static.s3.amazonaws.com/media/default.png" class="profileImg">
      {% endif %}

      {% if user.username == request.user.username %}
        {% include 'micro/includes/post-form.html' %}
      {% endif %}
    </div>
    <div class="col l7 offset-l1 m8 offset-m2 s12 center-align">

      {% if user == request.user %}
        <h3>My Feed</h3><br>
        {% for post in posts %}
          {% if post.user.userprofile in follows or post.user == request.user %}
            {% include 'micro/includes/feed.html' %}
          {% endif %}
        {% endfor %}
      {% else %}
        <h3>{{user.display_name}}'s posts</h3><br>
        {% for post in posts %}
          {% if post.user == user %}
            {% include 'micro/includes/feed.html' %}
          {% endif %}
        {% endfor %}
      {% endif %}


    </div>
  </div>
{% endblock %}
